<a href="https://colab.research.google.com/github/shrutishrinivasan/CIA_DAA/blob/main/Basic(NN_tensorflow).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = pd.read_csv("loan.csv")
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
df = data
# removing irrelevant columns like Id, Zip code
# and shifting the target variable to the last position
df = df.drop(['ID','ZIP Code','Personal Loan'],axis=1)
df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,1,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1

In [4]:
# Target variable: Personal Loan
df['Perosnal Loan'] = data['Personal Loan']
df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard,Perosnal Loan
0,25,1,49,4,1.6,1,0,1,0,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1,0

In [5]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.25)
X_train

array([[ 51.,  25., 163., ...,   0.,   1.,   0.],
       [ 42.,  17.,  44., ...,   1.,   1.,   1.],
       [ 35.,  11.,  24., ...,   0.,   0.,   0.],
       ...,
       [ 26.,   1.,  24., ...,   0.,   0.,   1.],
       [ 57.,  33.,  49., ...,   1.,   1.,   1.],
       [ 33.,   9.,  38., ...,   0.,   0.,   0.]])

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
from keras.models import Sequential
from keras.layers import Dense

In [9]:
ann = Sequential()

ann.add(Dense(units=6,activation='relu',input_dim=11))
ann.add(Dense(units=6,activation='relu'))
ann.add(Dense(units=1,activation='sigmoid'))

In [10]:
ann.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [11]:
ann.fit(X_train,y_train, epochs=30, batch_size=32)

Epoch 1/30
118/118 [==============================] - 2s 3ms/step - loss: 0.4967 - accuracy: 0.8923
Epoch 2/30
118/118 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.9008
Epoch 3/30
118/118 [==============================] - 0s 2ms/step - loss: 0.2632 - accuracy: 0.9008
Epoch 4/30
118/118 [==============================] - 0s 2ms/step - loss: 0.2173 - accuracy: 0.9037
Epoch 5/30
118/118 [==============================] - 0s 2ms/step - loss: 0.1861 - accuracy: 0.9227
Epoch 6/30
118/118 [==============================] - 0s 2ms/step - loss: 0.1616 - accuracy: 0.9400
Epoch 7/30
118/118 [==============================] - 0s 2ms/step - loss: 0.1421 - accuracy: 0.9517
Epoch 8/30
118/118 [==============================] - 0s 2ms/step - loss: 0.1275 - accuracy: 0.9555
Epoch 9/30
118/118 [==============================] - 0s 2ms/step - loss: 0.1167 - accuracy: 0.9584
Epoch 10/30
118/118 [==============================] - 0s 2ms/step - loss: 0.1075 - accuracy: 0.9613
Epoch 11/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0997 - accuracy: 0.9653
Epoch 12/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0935 - accuracy: 0.9661
Epoch 13/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0881 - accuracy: 0.9691
Epoch 14/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0834 - accuracy: 0.9704
Epoch 15/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0803 - accuracy: 0.9709
Epoch 16/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0781 - accuracy: 0.9728
Epoch 17/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0760 - accuracy: 0.9733
Epoch 18/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0745 - accuracy: 0.9741
Epoch 19/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0730 - accuracy: 0.9747
Epoch 20/30
118/118 [==============================] - 0s 3ms/step - loss: 0.0718 - accuracy: 0.9768
Epoch 21/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0709 - accuracy: 0.9765
Epoch 22/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0699 - accuracy: 0.9768
Epoch 23/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0691 - accuracy: 0.9768
Epoch 24/30
118/118 [==============================] - 0s 3ms/step - loss: 0.0684 - accuracy: 0.9773
Epoch 25/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0677 - accuracy: 0.9773
Epoch 26/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0673 - accuracy: 0.9779
Epoch 27/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0664 - accuracy: 0.9779
Epoch 28/30
118/118 [==============================] - 0s 3ms/step - loss: 0.0662 - accuracy: 0.9784
Epoch 29/30
118/118 [==============================] - 0s 3ms/step - loss: 0.0657 - accuracy: 0.9787
Epoch 30/30
118/118 [==============================] - 0s 2ms/step - loss: 0.0651 - accuracy: 0.9787

In [12]:
    y_pred = ann.predict(X_test)

    # converting to Boolean values for easier interpretation
    y_pred = (y_pred>0.5)
    y_pred

40/40 [==============================] - 0s 1ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9792